<p style="color: green"><%= notice %></p>  

<h1 class="container text-center">Lists</h1><br>

<table class="table table-bordered" %>
  <thead class="text-center bg-dark text-white">
    <tr>
      <th><h4>Description</h4></th>
      <th><h4>Status<h4></th>
      <th><h4>About list<h4></th>
    </tr>
  <thead>
  
  <tbody>
    <% @lists.each do |list| %>

    <% if list.complated %>

      <tr class="table-success">
        <td class="striker"><%= link_to list.description, edit_list_path(list), class: "text-decoration-none text-dark" %></td>
        <td class="text-center">Complated</td>
        <td class="text-center"> <%= button_to "Delete", list, method: :delete,  class: "btn btn-danger", data: {
                    turbo_method: :destroy,
                    turbo_confirm: "Are you sure?"
                  }, class: "btn btn-danger" %></td>
      </tr>

    <% else %>
        <tr class="table-danger">
          <td><%= link_to list.description, edit_list_path(list), class: "text-decoration-none text-dark" %></td>
          <td class="text-center">Not been complated!</td>
          <td class="text-center"> <%= button_to "Delete", list, method: :delete, data: {
                    turbo_method: :destroy,
                    turbo_confirm: "Are you sure?"
                  }, class: "btn btn-danger" %></td>
      </tr> 
    <% end %>

    <% end %>
  <tbody>
</table> <br>

<div class="d-grid col-6 mx-auto">
  <%# <%= link_to "New list", new_list_path, class: "btn btn-outline-dark" %>
  <%= link_to "Delete Marked Item", home_trash_em_path, class: "btn btn-outline-danger", data: {
                    turbo_method: :destroy,
                    turbo_confirm: "Are you sure?"
                  } %> <br>
  <%= link_to "Delete All Item", home_trash_em_all_path, class: "btn btn-outline-danger", data: {
                    turbo_method: :destroy,
                    turbo_confirm: "Are you sure?"
                  } %>
</div>
