<p style="color: green"><%= notice %></p>

<%= render @list %>

<div>
  <%# <%= link_to "Edit this list", edit_list_path(@list),  class: "btn btn-outline-primary" %>  
  <%= link_to "Back to lists", lists_path, class: "btn btn-outline-primary" %><br><br>

  <%# <%= button_to "Destroy this list", @list, method: :delete,  class: "btn btn-danger" %>
</div>
